.LeftInDoor {
    background: black;
    color: #6A2473;
    width: 50%;
    height: 100%;
    text-align: right;
    position: inherit;
    animation-name:leftdoor;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    padding: 50%;
    z-index: 100;
}

.RightInDoor {
    background: black;
    color: #6A2473;
    width: 50%;
    height: 100%;
    left: 50%;
    text-align: left;
    position:end;
    animation-name:rightdoor;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    z-index: 100;
}

@keyframes leftdoor {
    from {left: 0%;}
    to {left: -50%;}
}







@font-face {
    font-family: GoodFont;
    src: url(CafeDeParisSans-BWwJx.ttf);
}
  
body {margin: 0;
font-family:GoodFont;
}

#header {
    background-color: #6A2473;
    color: #FFDCE4;
    width: 75%;
    height: 20%;
    border-radius: 20px;
    left: 12.5%;
    padding: 1%;
    text-align:justify;
    position: relative;
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.74);
}   

#content {
    background: rgba(0, 0, 0, 0.60);
    color: #FFDCE4;
    width: 57%;
    height: 25%;
    position: relative;
    border-radius: 20px;
    left: 12.5%;
    padding: 10%;
    margin-top: 7%;
    text-align: center;
}



#down {
    background-color: #6A2473;
    color: #FFDCE4;
    width: 75%;
    height: 20%;
    text-align: center;
    position: relative;
    border-radius: 20px;
    left: 12.5%;
    padding: 1%;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.74);
    display: flex;
    justify-content: space-around;
}

#bgvid {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#vignette {
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,1) inset;
}  

a:link {color: rgb(89, 0, 255);
    text-shadow: 2px;
    font-family: GoodFont;
}

a:visited {
    color: rgb(89, 0, 255);
    font-family: GoodFont;
}