#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    animation: slideUp 8s forwards; /* Adjusted duration */
}

.LeftInDoor {
    background: black;
    color: #6A2473;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    animation-name: leftdoor;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    text-align: end;
    font-size: xx-large;
}

.RightInDoor {
    background: black;
    color: #6A2473;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    animation-name: rightdoor;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    text-align: start;
    font-size: xx-large;
}

@keyframes leftdoor {
    from { left: 0; }
    to { left: -50%; }
}

@keyframes rightdoor {
    from { right: 0; }
    to { right: -50%; }
}

@keyframes slideUp {
    0% { top: 0; }
    50% { top: 0; } /* Wait for doors to slide out */
    100% { top: -100%; }
}

@font-face {
    font-family: GoodFont;
    src: url(CafeDeParisSans-BWwJx.ttf);
}

body {
    margin: 0;
    font-family: GoodFont;
}

#header {
    background-color: #6A2473;
    color: #FFDCE4;
    width: 75%;
    height: 20%;
    border-radius: 20px;
    left: 12.5%;
    padding: 1%;
    text-align: justify;
    position: relative;
    display: flex;
    padding-top: 0%;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.74);
    transition: 1s;
}
#header:hover {
    background-color: #6A2473;
    color: #FFDCE4;
    width: 75%;
    height: 20%;
    border-radius: 20px;
    left: 12.5%;
    padding: 1%;
    padding-top: 10%;
    text-align: justify;
    position: relative;
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.74);
}

#content {
    background: rgba(0, 0, 0, 0.60);
    color: #FFDCE4;
    width: 57%;
    height: 25%;
    position: relative;
    border-radius: 20px;
    left: 12.5%;
    padding: 10%;
    margin-top: 7%;
    text-align: center;
    
}

#content2 {
    background: rgba(0, 0, 0, 0.60);
    color: #FFDCE4;
    width: 67%;
    height: auto;
    position: relative;
    border-radius: 20px;
    left: 7.5%;
    padding: 10%;
    margin-top: 7%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Align items to the top */
}

#content2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#content2 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.74);
    margin: 1%;
    padding: 1%;
}

#content2 h3 {
    margin: 1%;
    padding: 1%;
    text-align: center;
}

button {
    background-color: #6A2473;
    color: #FFDCE4;
    width: 75%;
    height: 20%;
    text-align: center;
    position: relative;
    border-radius: 20px;
    left: 12.5%;
    padding: 1%;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.74);
}

#down {
    background-color: #6A2473;
    color: #FFDCE4;
    width: 75%;
    height: 20%;
    text-align: center;
    position: relative;
    border-radius: 20px;
    left: 12.5%;
    padding: 1%;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.74);
    display: flex;
    justify-content: space-around;
}

#bgvid {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,1) inset;
}

a:link {
    color: rgb(89, 0, 255);
    text-shadow: 2px;
    font-family: GoodFont;
    text-decoration: none;
}

a:visited {
    color: rgb(89, 0, 255);
    font-family: GoodFont;
}